#export PATH=/usr/local/bin:$PATH
export PATH=/home/egbomrt/local/rtags/build/bin:$PATH
export PATH=/home/egbomrt/local/tmux:$PATH
export PATH=/usr/lib/ccache:$PATH
export CCACHE_CPP2=yes
export PATH=$PATH:/home/egbomrt/bin
#export PYTHONPATH=$PYTHONPATH:/Users/mg/ycm_extra_conf.jsondb/
#export PYTHONPATH=$PYTHONPATH:~/local/clang_src/llvm/tools/clang/bindings/python

export EDITOR=vim
export WINEDITOR=gvim

test -s ~/.alias && . ~/.alias || true

# dircolors-solarized for MAC Os
#export LSCOLORS=gxfxbEaEBxxEhEhBaDaCaD
#eval `dircolors $HOME/dircolors-solarized/dircolors.256dark`
eval `dircolors /home/egbomrt/.dir_colors/dircolors`

# Framework for managing dotfiles easily.
source "$HOME/.homesick/repos/homeshick/homeshick.sh"


