# tmux 1.8 for sles11
#export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/proj/cudbdm/tools/external/libevent/lib/
#export PATH=/proj/cudbdm/tools/external/tmux-1.9a/SLES11/bin:$PATH
export PATH=/Users/mg/archives/rtags_build_v2.0/bin:$PATH
export PATH=/usr/local/opt/ccache/libexec:$PATH
export CCACHE_CPP2=yes
export PATH=/Applications/MacVim.app/Contents/MacOS:$PATH
export PATH=$PATH:/Users/mg/local/bin
export PYTHONPATH=$PYTHONPATH:/Users/mg/bin/ycm_extra_conf.jsondb/
export PYTHONPATH=$PYTHONPATH:~/local/clang_src/llvm/tools/clang/bindings/python

# sugoi
export PATH=$PATH:$HOME/local/sugoi/bin

umask 002

export EDITOR=vim
export WINEDITOR=gvim

test -s ~/.alias && . ~/.alias || true

# dircolors-solarized for MAC Os
export LSCOLORS=gxfxbEaEBxxEhEhBaDaCaD

# Framework for managing dotfiles easily.
source "$HOME/.homesick/repos/homeshick/homeshick.sh"

