#[http]
#	proxy = www-proxy.ericsson.se:8080
#	sslVerify = false
;[github]
	;user = martong
[user]
	email = martongabesz@gmail.com
	name = Gabor Marton
[diff]
#	tool = kdiff3
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff

[difftool "vimdiff"]
	#path = /Applications/MacVim.app/Contents/MacOS/vimdiff
	#path = /app/vim/7.3.401/LMWP3/bin/vimdiff
	#cmd = vimdiff -u ~/.vimrc_empty --cmd \"set runtimepath=~/.vim_empty\" $LOCAL $REMOTE
[core]
	excludesfile = /Users/mg/.gitignore
	pager = less -x1,5
	editor = vim
	;pager = less -F -x1,5
[push]
	default = simple

[clangFormat]
	binary = /Users/mg/local/clang_src/llvm_installed/bin/clang-format
